@model IEnumerable<nm916616MIS4200.Models.Owners>

@{
    ViewBag.Title = "All Pet Owners";
}

    <h2>All Pet Owners</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pets.petName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vets.vetFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ownerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pets.petName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vets.vetFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ownerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ownerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ownerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ownerID })
        </td>
    </tr>
}

</table>
